{% extends "base.html" %}
{% load i18n %}

{% block active-tab %}'#nav-adaptation'{% endblock %}


{% block main %}
<div id="main" class="container">
  <div class="well">
    <h1>{% trans "Adaptation and Opportunities" %}</h1>
    <p>
    Compilamos uma série de histórias sobre a plataforma de Google Earth que fornecem um ponto de partida para iniciar o processo de mapeamento das experiências, das instituições e dados sobre as alterações climáticas e gestão de riscos de desastres.  Estas histórias permitem:
<ul><li>explorar os resultados do trabalho realizadosobre as mudanças climáticas sob o INGC
</li><li>compreender as questões que envolvem as mudanças climáticas na base de evidência mais recente, incluindo Fase INGC, eu estudo dos impactos das Mudanças Climáticas em Moçambique.
</li></ul></p><p>
As histórias seguintes são entregues digitalmente em formato KMZ, visível na sua totalidade, usando a plataforma Google Earth.
</p>
<ul><li>História 1: Visão geral Setorial e Regional dos Impactos Climáticos</li><li>História 2: Lições da experiência de Aviso previo no INGC </li>
<li>História 3 Enredo: Os fluxos de informação e eficaz resposta às catástrofes</li><li>História 4: Redução da Vulnerabilidade </li>
</ul></p><p>
Para visualizá-las, basta baixar e abrir, em seguida, clicando duas vezes sobre estes. Note que você deve ter o Google Earth instalado no seu computador.
    </p>
  </div>
</div>
{% endblock %}

